body {
    background-color:  hsl(0, 0%, 8%);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
}
.mainbox {
    width: 20rem;
    min-width: 300px;
    max-width: 600px;
    height: 78vh;
    background-color: hsl(0, 0%, 12%);
    margin: 70px auto;
    padding: 1rem 0.2rem;
    border-radius: 10px;
    text-align: center;
} 
.circle , ul {
    margin: auto;
}
.circle {
    position: relative;
    top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: url("./images/avatar-jessica.jpeg") no-repeat;
    background-size: contain;
}
h2 {
    position: relative;
    top: 30px;
    font-weight: 700;
}
h5 {
    color: hsl(75, 94%, 57%);
    position: relative;
    top: 30px;
    font-weight: 600;
}
h6 {
    position: relative;
    top: 30px;
    font-size: 12px;
    font-weight: 400;
}
ul {
    width: 240px;
    list-style-type: none;
    padding: 2% 8%;
    text-align: center;
}
ul li:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
ul li {
    border: none;
    border-radius: 6px;
    padding: .6em;
    margin: 11px 0;
    background-color: hsl(0, 0%, 20%);
}